In [1]:
import sys
!{sys.executable} -m pip install sqlalchemy

!{sys.executable} -m pip install psycopg2

Collecting sqlalchemy
  Downloading https://files.pythonhosted.org/packages/c1/c8/392fcd2d01534bc871c65cb964e0b39d59feb777e51649e6eaf00f6377b5/SQLAlchemy-1.2.7.tar.gz (5.6MB)
    100% |################################| 5.6MB 273kB/s eta 0:00:01
Building wheels for collected packages: sqlalchemy
  Running setup.py bdist_wheel for sqlalchemy ... done
  Stored in directory: /home/ds/.cache/pip/wheels/89/38/e1/e121d77c19eeeee42baabc2e623f08285267daedbf2fea9dd7
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.2.7
You are using pip version 9.0.3, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/8a/86/97879021d5ca2e069ade58eb55da01a2ade6507bb31f565914f4df10a444/psycopg2-2.7.4-cp35-cp35m-manylinux1_x86_64.whl (2.7MB)
    100% |################################| 2.7MB 556kB/s eta 0:00:01
Installing collected packages: psycopg2
Successfully installed psycopg2-2.7.4
You are using pip version 9.0.3, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
!which java

In [2]:
from sqlalchemy import create_engine



engine = create_engine('postgresql://drehc098h01isk.cl35knpvok5p.us-east-2.rds.amazonaws.com:6534/dre_dev?user=stageuser&password=goWest123!')

/opt/ds/lib/python3.5/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [3]:
import pandas as pd

sqlStatement = """Select stage.svc_data_viewer('{"source_id":236,"columns":["fare_amount","passenger_count","payment_type","trip_distance","tpep_dropoff_datetime","tpep_pickup_datetime"],
"page":1,"page_size":100,"order_by":"tpep_pickup_datetime","where":"passenger_count=''1''"}'::json)"""

a=pd.read_sql_query(sqlStatement,con=engine)
a.head()

                                     svc_data_viewer
0  {'order_by': 'tpep_pickup_datetime', 'row_coun...

In [4]:
import json
b = json.dumps(a.values[0][0])
b

'{"order_by": "tpep_pickup_datetime", "row_count": 1301378, "header": [{"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": false, "sort": "none", "description": "", "data_type": "text", "name": "dolocationid", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": false, "sort": "none", "description": "", "data_type": "text", "name": "extra", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": true, "sort": "none", "description": "", "data_type": "text", "name": "fare_amount", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": false, "sort": "none", "description": "", "data_type": "text", "name": "improvement_surcharge", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": false, "sort": "none", "description": "", "data_type": "text", "name": "mta_tax", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": true, "sort": "none", "description": "", "data_type": "text", "name": "passenger_count", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": true, "sort": "none", "description": "", "data_type": "text", "name": "payment_type", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": false, "sort": "none", "description": "", "data_type": "text", "name": "pulocationid", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": false, "sort": "none", "description": "", "data_type": "text", "name": "ratecodeid", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": false, "sort": "none", "description": "", "data_type": "text", "name": "store_and_fwd_flag", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": false, "sort": "none", "description": "", "data_type": "text", "name": "tip_amount", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": false, "sort": "none", "description": "", "data_type": "text", "name": "tolls_amount", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": false, "sort": "none", "description": "", "data_type": "text", "name": "total_amount", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": true, "sort": "none", "description": "", "data_type": "text", "name": "tpep_dropoff_datetime", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": true, "sort": "ASC", "description": "", "data_type": "text", "name": "tpep_pickup_datetime", "enrichment_validation_rule_bridge_ids": ["492", "493"]}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": true, "sort": "none", "description": "", "data_type": "text", "name": "trip_distance", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "raw", "visible_flag": false, "sort": "none", "description": "", "data_type": "text", "name": "vendorid", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "system", "visible_flag": false, "sort": "none", "description": "Array of failed validation_rule_bridge_ids", "data_type": "int[]", "name": "s_fail_vrb_ids", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "system", "visible_flag": false, "sort": "none", "description": "Reference to input_id", "data_type": "numeric", "name": "s_input_id", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "system", "visible_flag": false, "sort": "none", "description": "Row number in the source file/dataset", "data_type": "int", "name": "s_row_id", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "system", "visible_flag": false, "sort": "none", "description": "Transaction timestamp form the source system", "data_type": "timestamp", "name": "s_timestamp", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "system", "visible_flag": false, "sort": "none", "description": "Validation status of the row (Pass,Fail,Warn)", "data_type": "char(1)", "name": "s_validation_status_code", "enrichment_validation_rule_bridge_ids": null}, {"valalidation_validation_rule_bridge_ids": null, "attribute_type": "system", "visible_flag": false, "sort": "none", "description": "Array of warn validation_rule_bridge_ids", "data_type": "int[]", "name": "s_warn_vrb_ids", "enrichment_validation_rule_bridge_ids": null}], "data": [{"fare_amount": "16.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:21:31", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:00", "trip_distance": "3.70"}, {"fare_amount": "19.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:19:30", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:00", "trip_distance": "6.00"}, {"fare_amount": "12.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:14:22", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:00", "trip_distance": "2.80"}, {"fare_amount": "30", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:34:27", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:00", "trip_distance": "8.70"}, {"fare_amount": "8.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:07:26", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:00", "trip_distance": "2.07"}, {"fare_amount": "11.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:10:40", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:00", "trip_distance": "2.91"}, {"fare_amount": "15.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 06:46:27", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:00", "trip_distance": "4.70"}, {"fare_amount": "6", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:06:09", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:01", "trip_distance": ".83"}, {"fare_amount": "21.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:25:33", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:02", "trip_distance": "5.70"}, {"fare_amount": "10.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:10:41", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:02", "trip_distance": "2.43"}, {"fare_amount": "16.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:17:29", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:03", "trip_distance": "4.50"}, {"fare_amount": "9", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:09:55", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:03", "trip_distance": "1.73"}, {"fare_amount": "7.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:07:51", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:04", "trip_distance": "1.40"}, {"fare_amount": "8.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:09:41", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:07", "trip_distance": "1.40"}, {"fare_amount": "13", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:13:00", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:07", "trip_distance": "3.50"}, {"fare_amount": "13.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:12:35", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:07", "trip_distance": "3.70"}, {"fare_amount": "32.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:27:43", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:07", "trip_distance": "10.30"}, {"fare_amount": "3.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:02:10", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:08", "trip_distance": ".40"}, {"fare_amount": "41.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:25:29", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:08", "trip_distance": "14.90"}, {"fare_amount": "4.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:03:29", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:08", "trip_distance": ".66"}, {"fare_amount": "52", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:21:59", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:09", "trip_distance": "16.53"}, {"fare_amount": "12.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:11:12", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:09", "trip_distance": "4.00"}, {"fare_amount": "12", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:00:19", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:09", "trip_distance": ".00"}, {"fare_amount": "7", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:07:15", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:09", "trip_distance": "1.40"}, {"fare_amount": "6", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:05:58", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:10", "trip_distance": ".90"}, {"fare_amount": "14.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:15:02", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:10", "trip_distance": "4.33"}, {"fare_amount": "7.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:06:47", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:10", "trip_distance": "1.54"}, {"fare_amount": "7", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:04:46", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:12", "trip_distance": "1.95"}, {"fare_amount": "6.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:06:04", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:12", "trip_distance": "1.17"}, {"fare_amount": "22.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:24:41", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:14", "trip_distance": "6.21"}, {"fare_amount": "12", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:14:34", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:15", "trip_distance": "2.60"}, {"fare_amount": "7", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:07:40", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:15", "trip_distance": "1.40"}, {"fare_amount": "10", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:08:14", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:15", "trip_distance": "2.90"}, {"fare_amount": "4", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:01:47", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:16", "trip_distance": ".60"}, {"fare_amount": "52", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:27:54", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:16", "trip_distance": "17.33"}, {"fare_amount": "9", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:08:16", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:16", "trip_distance": "2.29"}, {"fare_amount": "52", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:45:19", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:18", "trip_distance": "20.90"}, {"fare_amount": "6.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:06:31", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:18", "trip_distance": "1.20"}, {"fare_amount": "5.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:06:21", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:19", "trip_distance": ".96"}, {"fare_amount": "24", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:21:22", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:19", "trip_distance": "7.32"}, {"fare_amount": "14.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:15:30", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:20", "trip_distance": "3.95"}, {"fare_amount": "12.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:15:58", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:20", "trip_distance": "3.19"}, {"fare_amount": "8", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:05:56", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:21", "trip_distance": "2.02"}, {"fare_amount": "7.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:07:57", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:21", "trip_distance": "1.30"}, {"fare_amount": "7.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:08:12", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:22", "trip_distance": "1.26"}, {"fare_amount": "9.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:09:58", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:22", "trip_distance": "2.40"}, {"fare_amount": "12", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:13:07", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:22", "trip_distance": "2.90"}, {"fare_amount": "10.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:12:36", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:24", "trip_distance": "2.08"}, {"fare_amount": "23.8", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:00:27", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:24", "trip_distance": ".00"}, {"fare_amount": "9.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:10:23", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:24", "trip_distance": "2.30"}, {"fare_amount": "15.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:12:54", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:25", "trip_distance": "4.50"}, {"fare_amount": "7", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:07:31", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:26", "trip_distance": "1.00"}, {"fare_amount": "4.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:03:28", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:26", "trip_distance": ".62"}, {"fare_amount": "6", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:06:17", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:26", "trip_distance": "1.00"}, {"fare_amount": "31.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:41:17", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:27", "trip_distance": "9.79"}, {"fare_amount": "20.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:25:42", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:27", "trip_distance": "5.28"}, {"fare_amount": "6", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:06:04", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:27", "trip_distance": ".90"}, {"fare_amount": "8", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:10:22", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:27", "trip_distance": "1.10"}, {"fare_amount": "17", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:22:25", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:27", "trip_distance": "4.20"}, {"fare_amount": "5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:03:39", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:28", "trip_distance": ".78"}, {"fare_amount": "3.5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:01:41", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:28", "trip_distance": ".41"}, {"fare_amount": "4", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:03:36", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:28", "trip_distance": ".42"}, {"fare_amount": "7", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:04:51", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:31", "trip_distance": "1.82"}, {"fare_amount": "9", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:10:36", "payment_type": "1", "tpep_pickup_datetime": "2017-03-01 00:00:31", "trip_distance": "1.80"}, {"fare_amount": "5", "passenger_count": "1", "s_validation_status_code": "P", "tpep_dropoff_datetime": "2017-03-01 00:03:27", "payment_type": "2", "tpep_pickup_datetime": "2017-03-01 00:00:31", "trip_distance": "1.00"}, {"fare_amount": "10.5", "passenger_coun

In [5]:
c = pd.DataFrame.from_dict(dict(json.loads(b))["data"])

In [6]:
c

,fare_amount,passenger_count,payment_type,s_validation_status_code,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance
0,16.5,1,1,P,2017-03-01 00:21:31,2017-03-01 00:00:00,3.70
1,19.5,1,1,P,2017-03-01 00:19:30,2017-03-01 00:00:00,6.00
2,12.5,1,1,P,2017-03-01 00:14:22,2017-03-01 00:00:00,2.80
3,30,1,1,P,2017-03-01 00:34:27,2017-03-01 00:00:00,8.70
4,8.5,1,1,P,2017-03-01 00:07:26,2017-03-01 00:00:00,2.07
5,11.5,1,1,P,2017-03-01 00:10:40,2017-03-01 00:00:00,2.91
6,15.5,1,1,P,2017-03-01 06:46:27,2017-03-01 00:00:00,4.70
7,6,1,1,P,2017-03-01 00:06:09,2017-03-01 00:00:01,.83
8,21.5,1,1,P,2017-03-01 00:25:33,2017-03-01 00:00:02,5.70
9,10.5,1,1,P,2017-03-01 00:10:41,2017-03-01 00:00:02,2.43
10,16.5,1,1,P,2017-03-01 00:17:29,2017-03-01 00:00:03,4.50
11,9,1,1,P,2017-03-01 00:09:55,2017-03-01 00:00:03,1.73
12,7.5,1,2,P,2017-03-01 00:07:51,2017-03-01 00:00:04,1.40
13,8.5,1,2,P,2017-03-01 00:09:41,2017-03-01 00:00:07,1.40
14,13,1,1,P,2017-03-01 00:13:00,2017-03-01 00:00:07,3.50
15,13.5,1,1,P,2017-03-01 00:12:35,2017-03-01 00:00:07,3.70
16,32.5,1,1,P,2017-03-01 00:27:43,2017-03-01 00:00:07,10.30
17,3.5,1,1,P,2017-03-01 00:02:10,2017-03-01 00:00:08,.40
18,41.5,1,1,P,2017-03-01 00:25:29,2017-03-01 00:00:08,14.90
19,4.5,1,2,P,2017-03-01 00:03:29,2017-03-01 00:00:08,.66
20,52,1,1,P,2017-03-01 00:21:59,2017-03-01 00:00:09,16.53
21,12.5,1,1,P,2017-03-01 00:11:12,2017-03-01 00:00:09,4.00
22,12,1,1,P,2017-03-01 00:00:19,2017-03-01 00:00:09,.00
23,7,1,1,P,2017-03-01 00:07:15,2017-03-01 00:00:09,1.40
24,6,1,1,P,2017-03-01 00:05:58,2017-03-01 00:00:10,.90
25,14.5,1,1,P,2017-03-01 00:15:02,2017-03-01 00:00:10,4.33
26,7.5,1,1,P,2017-03-01 00:06:47,2017-03-01 00:00:10,1.54
27,7,1,1,P,2017-03-01 00:04:46,2017-03-01 00:00:12,1.95
28,6.5,1,2,P,2017-03-01 00:06:04,2017-03-01 00:00:12,1.17
29,22.5,1,1,P,2017-03-01 00:24:41,2017-03-01 00:00:14,6.21
...,...,...,...,...,...,...,...
70,20,1,2,P,2017-03-01 00:13:04,2017-03-01 00:00:34,6.78
71,5,1,2,P,2017-03-01 00:04:54,2017-03-01 00:00:34,.50
72,13,1,1,P,2017-03-01 00:16:10,2017-03-01 00:00:34,3.20
73,9.5,1,1,P,2017-03-01 00:11:21,2017-03-01 00:00:35,1.90
74,9.5,1,1,P,2017-03-01 00:11:19,2017-03-01 00:00:35,1.87
75,8,1,1,P,2017-03-01 00:08:32,2017-03-01 00:00:35,1.88
76,9.5,1,2,P,2017-03-01 00:08:45,2017-03-01 00:00:35,2.40
77,12,1,1,P,2017-03-01 00:09:54,2017-03-01 00:00:36,3.39
78,7.5,1,2,P,2017-03-01 00:06:44,2017-03-01 00:00:36,1.50
79,11.5,1,1,P,2017-03-01 00:11:36,2017-03-01 00:00:37,2.76
80,12.5,1,1,P,2017-03-01 00:15:04,2017-03-01 00:00:37,3.00
81,56.5,1,1,P,2017-03-01 00:41:49,2017-03-01 00:00:39,19.89
82,9,1,1,P,2017-03-01 00:08:23,2017-03-01 00:00:39,2.12
83,9.5,1,1,P,2017-03-01 00:11:05,2017-03-01 00:00:41,2.20
84,23,1,1,P,2017-03-01 00:18:31,2017-03-01 00:00:41,7.30
85,8.5,1,2,P,2017-03-01 00:10:59,2017-03-01 00:00:41,1.36
86,9,1,2,P,2017-03-01 00:12:08,2017-03-01 00:00:41,1.00
87,11.5,1,1,P,2017-03-01 00:14:42,2017-03-01 00:00:43,2.16
88,6.5,1,1,P,2017-03-01 00:05:56,2017-03-01 00:00:43,1.26
89,24.5,1,2,P,2017-03-01 00:30:13,2017-03-01 00:00:44,6.59
90,11.5,1,1,P,2017-03-01 00:11:26,2017-03-01 00:00:44,3.14
91,50.5,1,2,P,2017-03-01 00:38:15,2017-03-01 00:00:44,17.60
92,8,1,1,P,2017-03-01 00:08:12,2017-03-01 00:00:45,1.70
93,7.5,1,1,P,2017-03-01 00:09:29,2017-03-01 00:00:45,1.00
94,4.5,1,1,P,2017-03-01 00:03:31,2017-03-01 00:00:45,.70
95,8.5,1,1,P,2017-03-01 00:10:15,2017-03-01 00:00:46,1.75
96,52,1,1,P,2017-03-01 00:28:06,2017-03-01 00:00:46,20.10
97,17.5,1,1,P,2017-03-01 00:19:08,2017-03-01 00:00:46,5.05
98,13.5,1,2,P,2017-03-01 00:18:13,2017-03-01 00:00:46,3.10
99,19,1,1,P,2017-03-01 00:17:24,2017-03-01 00:00:47,5.70

In [7]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
import numpy as np


X = np.array(c[['passenger_count', 'trip_distance']])
Y = np.array(c[['fare_amount']])

regr = linear_model.LinearRegression()

regr.fit(X, Y)

y_pred = regr.predict(X)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(Y, y_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(Y, y_pred))

Coefficients:
 [[0.        2.5705072]]
Mean squared error: 6.78
Variance score: 0.95

In [8]:
from sklearn.externals import joblib
joblib.dump(regr, '../trained_models/TaxiFareRegression.pkl', protocol = 2)

['../trained_models/TaxiFareRegression.pkl']

In [9]:
!pwd

/home/ds/notebooks

In [5]:
import json
import sys
from sqlalchemy import create_engine
import pandas as pd


def getRAPData(en, sqlStatement):
    engine = create_engine(en)
    a=pd.read_sql_query(sqlStatement,con=engine)
    b=json.dumps(a.values[0][0])
    c = pd.DataFrame.from_dict(dict(json.loads(b))["data"])
    return c

In [7]:
engine = 'postgresql://drehc098h01isk.cl35knpvok5p.us-east-2.rds.amazonaws.com:6534/dre_dev?user=stageuser&password=goWest123!'

SQL = """Select stage.svc_data_viewer('{"source_id":236,"columns":["fare_amount","passenger_count","payment_type","trip_distance","tpep_dropoff_datetime","tpep_pickup_datetime"],
"page":1,"page_size":100,"order_by":"tpep_pickup_datetime","where":"passenger_count=''1''"}'::json)"""

data = getRAPData(engine, SQL)
data.to_csv("RAPDATA.csv")
data.head()

,fare_amount,passenger_count,payment_type,s_validation_status_code,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance
0,52,1,2,P,2017-01-01 00:00:00,2017-01-01 00:00:00,.02
1,4,1,2,P,2017-01-01 00:03:50,2017-01-01 00:00:02,.50
2,6,1,1,P,2017-01-01 00:06:58,2017-01-01 00:00:03,.80
3,24,1,1,P,2017-01-01 00:15:36,2017-01-01 00:00:05,8.47
4,7,1,1,P,2017-01-01 00:08:53,2017-01-01 00:00:06,.90

In [21]:
from sklearn.externals import joblib
import numpy as np
import datetime
import pandas as pd

now = datetime.datetime.now()

modelName = "taxi hello world"
modelLocation = '../trained_models/TaxiFareRegression.pkl'

engine = 'postgresql://drehc098h01isk.cl35knpvok5p.us-east-2.rds.amazonaws.com:6534/dre_dev?user=stageuser&password=goWest123!'

SQL = """Select stage.svc_data_viewer('{"source_id":236,"columns":["fare_amount","passenger_count","payment_type","trip_distance","tpep_dropoff_datetime","tpep_pickup_datetime"],
"page":1,"page_size":100,"order_by":"tpep_pickup_datetime","where":"passenger_count=''1''"}'::json)"""

predFields = ['passenger_count', 'trip_distance']

predModel = joblib.load(modelLocation)

data = getRAPData(engine, SQL)

X = np.array(data[predFields])

predictions = predModel.predict(X)
predictions = predictions.tolist()
predictions = [x[0] for x in predictions]
timestamp = [now.strftime("%Y-%m-%d %H:%M")] * len(predictions)
model = [modelName] * len(predictions)
#dummy ids for test
ids = list(range(0,len(predictions)))
classes = ["Taxi Fare"] * len(predictions)

finalDFDict = {"predictions": predictions, "timestamp": timestamp, "model_name": model, "id": ids, "predicted_class": classes}
finalData = pd.DataFrame.from_dict(finalDFDict)
finalData.to_sql("stage.predictions", engine, if_exists="append")

   id        model_name predicted_class  predictions         timestamp
0   0  taxi hello world              NA     5.665106  2018-03-27 18:08
1   1  taxi hello world              NA     6.925387  2018-03-27 18:08
2   2  taxi hello world              NA     7.713063  2018-03-27 18:08
3   3  taxi hello world              NA    27.851299  2018-03-27 18:08
4   4  taxi hello world              NA     7.975621  2018-03-27 18:08

In [22]:
finalData.to_sql("stage.predictions", engine, if_exists="append")

In [23]:
pd.read_sql_table("stage.predictions", con=engine)

    index  id        model_name predicted_class  predictions         timestamp
0       0   0  taxi hello world              NA     5.665106  2018-03-27 18:08
1       1   1  taxi hello world              NA     6.925387  2018-03-27 18:08
2       2   2  taxi hello world              NA     7.713063  2018-03-27 18:08
3       3   3  taxi hello world              NA    27.851299  2018-03-27 18:08
4       4   4  taxi hello world              NA     7.975621  2018-03-27 18:08
5       5   5  taxi hello world              NA     7.319225  2018-03-27 18:08
6       6   6  taxi hello world              NA    14.592095  2018-03-27 18:08
7       7   7  taxi hello world              NA    22.941455  2018-03-27 18:08
8       8   8  taxi hello world              NA     6.925387  2018-03-27 18:08
9       9   9  taxi hello world              NA     8.763297  2018-03-27 18:08
10     10  10  taxi hello world              NA    10.076089  2018-03-27 18:08
11     11  11  taxi hello world              NA    19.528195  2018-03-27 18:08
12     12  12  taxi hello world              NA    17.900332  2018-03-27 18:08
13     13  13  taxi hello world              NA    10.601206  2018-03-27 18:08
14     14  14  taxi hello world              NA     5.612595  2018-03-27 18:08
15     15  15  taxi hello world              NA    12.832953  2018-03-27 18:08
16     16  16  taxi hello world              NA     8.920832  2018-03-27 18:08
17     17  17  taxi hello world              NA     8.238180  2018-03-27 18:08
18     18  18  taxi hello world              NA    16.876354  2018-03-27 18:08
19     19  19  taxi hello world              NA     6.662829  2018-03-27 18:08
20     20  20  taxi hello world              NA     7.450504  2018-03-27 18:08
21     21  21  taxi hello world              NA    17.165168  2018-03-27 18:08
22     22  22  taxi hello world              NA     6.242735  2018-03-27 18:08
23     23  23  taxi hello world              NA     5.875153  2018-03-27 18:08
24     24  24  taxi hello world              NA     8.028133  2018-03-27 18:08
25     25  25  taxi hello world              NA     8.500738  2018-03-27 18:08
26     26  26  taxi hello world              NA    23.729130  2018-03-27 18:08
27     27  27  taxi hello world              NA     7.975621  2018-03-27 18:08
28     28  28  taxi hello world              NA    13.174279  2018-03-27 18:08
29     29  29  taxi hello world              NA    10.076089  2018-03-27 18:08
..    ...  ..               ...             ...          ...               ...
70     70  70  taxi hello world              NA     8.238180  2018-03-27 18:08
71     71  71  taxi hello world              NA     8.763297  2018-03-27 18:08
72     72  72  taxi hello world              NA     8.947088  2018-03-27 18:08
73     73  73  taxi hello world              NA     8.763297  2018-03-27 18:08
74     74  74  taxi hello world              NA     8.658273  2018-03-27 18:08
75     75  75  taxi hello world              NA     8.238180  2018-03-27 18:08
76     76  76  taxi hello world              NA     7.713063  2018-03-27 18:08
77     77  77  taxi hello world              NA     7.056666  2018-03-27 18:08
78     78  78  taxi hello world              NA    11.100067  2018-03-27 18:08
79     79  79  taxi hello world              NA     7.791830  2018-03-27 18:08
80     80  80  taxi hello world              NA    17.795309  2018-03-27 18:08
81     81  81  taxi hello world              NA    12.255325  2018-03-27 18:08
82     82  82  taxi hello world              NA     8.500738  2018-03-27 18:08
83     83  83  taxi hello world              NA     7.292969  2018-03-27 18:08
84     84  84  taxi hello world              NA     6.925387  2018-03-27 18:08
85     85  85  taxi hello world              NA    10.233624  2018-03-27 18:08
86     86  86  taxi hello world              NA     7.450504  2018-03-27 18:08
87     87  87  taxi hello world              NA    12.990488  2018-03-27 18:08
88     88  88  taxi hello world              NA    13.226791  2018-03-27 18:08
89     89  89  taxi hello world              NA    19.003078  2018-03-27 18:08
90     90  90  taxi hello world              NA     8.343203  2018-03-27 18:08
91     91  91  taxi hello world              NA    52.426773  2018-03-27 18:08
92     92  92  taxi hello world              NA    10.679974  2018-03-27 18:08
93     93  93  taxi hello world              NA     9.288414  2018-03-27 18:08
94     94  94  taxi hello world              NA     8.106900  2018-03-27 18:08
95     95  95  taxi hello world              NA     7.450504  2018-03-27 18:08
96     96  96  taxi hello world              NA     7.739319  2018-03-27 18:08
97     97  97  taxi hello world              NA    10.995044  2018-03-27 18:08
98     98  98  taxi hello world              NA    11.047555  2018-03-27 18:08
99     99  99  taxi hello world              NA    21.366104  2018-03-27 18:08

[100 rows x 6 columns]